.page-with-sidebar{
    display: grid;
    grid-template-columns:auto;
    height: 100vh;
    background-color:var(--background-secondary);
  
  }
  .page-with-sidebar>div:first-child{
      background-color: var(--background-secondary);
      width: 250px;
      height: 100%;
      display:flex;
      flex-direction: column;
      color: var(--color-primary);
      justify-content: flex-start;
      overflow-y: auto; 
      position: fixed;
  }

  .content{
      background-color: var(--background-primary);
      color: var(--color-primary);
      display: flex;
      flex-direction: column;
      margin-left: 250px;
      width: auto;
  }

  .content>.dashboard{
    width: 100%;
    margin: 20px 50px;
  }
  .sidebarMobil{
    display: none;
  }



/*   -----Card Dashboard ------   */

.DashboardCard{
  background-color: var(--background-secondary);
  border-color: var(--background-secondary) !important;

}
.DashboardCard>div{
  background-color: var(--background-secondary);
  color: var(--color-primary);
 
}
.cardPrice>p{
  color: var(--color-primary)!important;
}
  

@media (max-width: 768px) {
  .sidebarEscritorio{
    display: none;
  }
  .content{
    width: 100%;
    margin-left: 40px;
  }
  .sidebar{
    width: 40px !important;
    justify-content: center !important;
    z-index: 99999999;
    margin:0px;
    padding: 0px;
  }
  .sidebarMobil{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   
  }
  .sidebarMobil>.MenuSidebarIcono{
    display: flex;
    width: 80%;
    height: 50px;
    border-bottom: 1px solid var(--color-primary);
  }
  .sidebarMobil>.MenuSidebarIcono>svg{
    width: 100%;
    height: 100%;
  }
  .sidebarMobil>.MenuSidebarIcono>svg:hover{
    color: var(--background-boton);
  }

}