
.p-carousel-items-container>div{
    border: 1px solid black;
    background: white;
}

.cardImage{
    width: 100%;
    height: 200px;
    

}
.cardImage  img{
      width: 100%;  
      height: 100%;
      object-fit: cover;

}
