.registerUser{
background-color: var(--background-primary); 
   color: var(--color-primary);
}

.registerUserBody{
    margin: 0 100px;
    padding: 100px 0;
 }
 @media (max-width: 768px) {
   .registerUser{
      padding: 0 16px;
   }
   .registerUserBody{
      margin: 0px;
      padding-top: 32px;
   }
   .registerUserBody>form{
      padding-top:16px;
   }

 }